html, body{
	height: 100%;
	width: 100%;
}
.navbar{
	background-color: #440794;
	padding: 1% 0;
	font-size: 1.2 em;
	border: none;
}
.active:hover{
	font-size: 20px;
	transition: 0.6s;
}
.navbar-brand{
	min-height: 55 px;
	padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a {
	color: #06743d;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
	color: #cfdde6;
}


.bg-modal{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.modal-content{
	width: 400px;
	height: 400px;
	background-color: #fff;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

.modal-content h1{
	font-family: 'Merienda', cursive;
	color: #5302a8;
}

.modal-content a{
	border-radius: 2px;
	border-color: #440794; 
	text-decoration: none;
}

input{
	width: 50%;
	display: block;
	padding-top: 8px;
	margin: 10px auto;
}

#home {
	background: url(img/event.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover; 
}
.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
} 
.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
	text-transform: capitalize;
	color: #c276da;
	font-family: 'Righteous', cursive;
}
.padding{
	padding: 80px 0;
}
.padding img {
	width: 100%;
	border-radius: 10px;
}
#fixed{
	background: url(img/backg.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;
}
footer {
	width: 100%;
	background-color: #034B33;
	padding: 5% 5% 10% 5%;
	color: #fff;
}
.fa{
	padding: 15px;
	font-size: 35px;
	color: rgb(171, 158, 233);
	text-decoration: none;
}
.icon {
	max-width: 200px;
}
.list-brk{
	font-size: 18px;
	list-style: none;
}
.list-brk li a{
	color: #4ec1e4;
	text-decoration: none;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
	margin-left: auto;
	
}
.tab-content > .active{
	display: block;
}
.row {    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
	margin-left: -15px;
	font-size: 1.5em;
}
.no-gutters{
	justify-content: center;
}

#news{
	padding-top: 15px;
}
.justify-content-center{
	justify-content: center !important;
}
.nav{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
.nav-tab{
	border-bottom:  1px solid #ddd;
}
.card {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}
.card-body{
	padding: 15px;
}
.card-film{
	padding-top: 10px;
	border-radius: 10px;
	height: 100%;
}
.d-block {
    width: 100%;
}
.py-2 {
    padding-bottom: .5rem!important;
}
.card-text {
    text-align: justify;
    font-size: 20px;
    font-family: 'Amarante';
}
.col-film {
	margin-bottom: 15px;
	width: 300px;
	padding-top: 12px;
}
.img-fluid{
	align-self: center;
}
.card-img{
	height: 300px;
	width: auto;
}

.card-img-top {
	height: auto;
    width: 250px;
    border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px);
		
}

@media (max-width: 786px){
	.landing-text h1 {
		font-size: 300%;
	}
	.fa{
		font-size: 20px;
		padding: 10px;
	}
	.icon{
		padding-top: 5%;
		max-width: 100px;
	}
}